* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	align-items: center; /*aligns the body at center of the y axis */
	justify-content: center; /*aligns the body at center of the x axis */
	background-color: #4f0d53;
}
